*{padding: 0px;
margin: 0px;}
body{
    background-color: rgb(188, 213, 224);
    widows: 100%;
    height: 100%;
}
.container{
    width: 90vw;
    margin: 0 auto;
    height: 95vh;
    background: rgb(179, 179, 192);
}
.left-box{
    float: left;
    width: 15vw;
    height: 95vh;
    background: #424649;
}
.right-box{
    float: right;
    width: 75vw;
    height: 95vh;
    background: rgb(179, 179, 192);
    
}
.logincount{
height: 5.5vh;
background: rgb(152, 91, 223);
}
.loginUser{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 5.5vh;
    width: 12.7vw;
}
.navigation{
    background: #424649;
}
.online{
    width: 14vw;
    margin: 5px auto;
    border-radius: 10px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.navigation  li >a{
    padding-left: 10px;
}
.navigation li.online > a {
    background-color: #19191a;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    padding-right: 1vw;
    
}
.navigation li.online:hover {
    background-color: #19191a;
    color: white;
    font-weight: bold;
    text-align: center;
}

.mainmenu a {
    display: block;
    text-decoration: none;
    color: white;
}
ul li{
    list-style: none;
    background:  #424649;
}
ul li a {
    
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 10px;
    text-align: justify;
    text-decoration: none;
  
}
li:hover{
    background:#424649;
}
ul li:hover  a {
    text-decoration: none;
    background: #1b2329;
    opacity: 0.7;
    color: #fff;
 
    
}
 ul .active-block{
    display: block !important;
    background-color:  #1b2329 !important;
    opacity: 0.7 !important;
    color: #fff;  
    margin-left: 20px;
}
ul li ul li> a{
    padding-left: 30px;
}
ul li:hover li{
    background:  #1b2329;
    color: #fff;  
}
ul li >ul{
    display: none;
}

ul li:hover ul{
    display: block;
    margin-left: 20px;
}
.navigtop{
    height: 5.5vh;
   background:#424649;
   line-height: 5.5vh;
}
#logout{
    float: right;
    padding: 5px 8px;
  background:linear-gradient(#5e6292,#050536);
  border: none;
  margin: 6px 15px 5px 5px;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
}
#logout:hover{
    background:linear-gradient(#050536,#5e6292);
}
.active{
    background: #1b2329;
    opacity: 0.7;
}
.loguser_name{
    margin:20px auto;
    height: 4vh;
    width: 70vw;
    background: #9698b1;
    text-align: center;
    font-weight: bold;
    line-height: 4vh;
    color: #fff;
}
.status{
    margin:100px auto;
    width: 35vw;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.report-manifacture{
    width: 35vw;
    height: auto;
    margin: 40px auto;
    border: 1px solid black;
   
}
.header_report{
    background: rgb(8, 43, 71);
    height: 4vh;
    line-height: 4vh;
    overflow: hidden;
    color: #fff;
    padding-left: 1vw;
}
.mainfacture_form{
    padding: 1vw;
}
.mainfacture_form .prioritet{
    margin: 5px 0px;
}
.mainfacture_form .oddelenie{
    margin-left: 5.05vw;
    width: 20.2vw;
}
form .prioritet input[type="checkbox"]{
  position: relative;
  left: 75px;
  top: 3px;
}
.mainfacture_form .agent{
    margin: 8px 0px;
}

form  #agent{
    width: 20vw;
    margin-left: 4.2vw;
    
}

form #oddelenie{
    width: 20.3vw;
    margin-left: 5.0vw;
}
.mainfacture_form .opstaIntervencija{
    margin: 8px 0px;
}
form .opstaIntervencija input[type="checkbox"]{
    position: relative;
    left: 30px;
    top: 3px;
  }
  .mainfacture_form .remontnaIntervencija{
    margin: 8px 0px;
}
form .remontnaIntervencija input[type="checkbox"]{
    position: relative;
    left: 1px;
    top: 3px;
  }
  .mainfacture_form .spare_parth{
    margin: 8px 0px;
  }
  .mainfacture_form .linija_masina{
  margin: 8px 0px;
  }
  .mainfacture_form #linija_masina{
   margin-left: 3.8vw;
    width: 20.2vw;
  }
  
  form .spare_parth input[type="checkbox"]{
    position: relative;
    left: 62px;
    top: 3px;
  }

  #submit_order{
    padding: 10px 18px;
    background:linear-gradient(#5e6292,#050536);
    border: none;
    margin: 0px 520px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
  }

  #submit_order:hover{
    background:linear-gradient(#050536,#5e6292);
  }
  .masina_linija{
      height: auto;
  }
.masina_form{
    padding: 1vw;
  
}
.masina_form >p{
    margin: 7px 0px;
}
.masina_form input[type="text"]{
    width: 20vw;
}
.masina_form .id input[type="text"]{
    margin-left: 6vw;
}
.masina_form .proizvoitel input[type="text"]{
    margin-left: 2vw;
}
.masina_form .model input[type="text"]{
    margin-left: 4.4vw;
}
.masina_form .opis input[type="text"]{
    margin-left: 5.2vw;
}
.masina_form .s_no input[type="text"]{
    margin-left: 2.3vw;
}
.masina_form #linija{
    margin-left: 4.6vw;
}
.masina_form #oddelenie_masina{
    width: 20.2vw;
    margin-left: 2.6vw;
}
.masina_form input[type="file"]{
    margin-left: 0.7vw;
}
.masina_form #slika {
    margin-left: 5.0vw;
}
.masina_form #submit_new_machine{
    padding: 3px 18px;
    margin-left: 13vw;
    margin-top: 5px;
}
.masina_linija{
    width: 31vw !important;
 
}
.report-manifacture-rezervendel{
    width: 35vw;
    height: auto;
    margin: 40px auto;
    border: 1px solid black;
   
}
.masina_form #linija_masina{
    margin-left: 1.25vw;
    width: 20.2vw;
}
.masina_form #oznaka{
   margin-left: 4vw;
}

.masina_form #kolicina_spare_parth{
    margin-left: 3.5vw;
}
.masina_form #minimalna_zaliha{
    margin-left: 2.6vw;
}
.masina_form #manual-parth{
    margin-left: 1.3vw;
}
.masina_form #rezdel_picture{
    margin-left: 2.5vw;
}
.masina_form #submit_new_parth{
    padding: 3px 18px;
    margin-left: 13vw;
    margin-top: 5px; 
}
.masina_form #ed_merka{
    width: 20.2vw;
    margin-left: 0.7vw;
   
}
.new_department{
    height: auto !important;
}
.novo_oddelnie #new_dept{
    margin-left: 2.8vw;
    width: 20vw;
}
.description #description{
    margin-left: 5.15vw;
    width: 20vw;
}
#submit_new_dept{
    padding: 3px 18px;
    margin-left: 13vw;
    margin-top: 5px;
}
.user_name #user_name{
    margin-left: 5.5vw;
}
.user_second_name #user_second_name{
    margin-left: 3.7vw;
}
.user_email #user_email{
    margin-left: 4.6vw;
    width: 20.1vw;
}
.phone-no #phone_no{
    margin-left: 3.9vw;
}
.privileges #privileges{
    margin-left: 3.2vw;
    width: 20.1vw;
}
#submit_user{
    padding: 10px 18px;
    background:linear-gradient(#5e6292,#050536);
    border: none;
    margin: 0px 180px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
  }

  #submit_user:hover{
    background:linear-gradient(#050536,#5e6292);
  }
  #login_email{
    margin-left: 2.3vw !important;
}
#login_pass{
margin-left: 3vw;
}
#confirm_pass{
    margin-left: 0.4vw;
}
 .smeni-box{
    width: 70%;
    /* height: 300px; */
    float: left;
    border-collapse: separate;
    border-spacing: 8px;  
}
.red{
   margin-left: 10px;
}
.smeni-status{
    width: 25%;
    height: 450px;;
    float: right;
   border: 1px solid black;
    /* text-align: center; */
    margin-right: 40px;
    margin-top: 20px;
}
.legend{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    /* background-color: #5e6292; */
    float: left;
    margin:10px 5px 0px 15px;

}
.leglab{
    margin-top:17px;
    /* padding: 5px 0px 0px 10px; */
    font-weight: bold;
    font-size: 18px;
}
#resetSmeni{
padding: 5px;
 margin: 15px 0 0 20px;
}
.status-smena select{
width: 50px;
height: 50px;
background: #8b5d5d;
color: #fff;
box-sizing: border-box;
align-items: center;
white-space: pre;
-webkit-rtl-ordering:logical;
cursor: pointer;
font-size: 30px;
appearance: none;
-webkit-appearance: none;
text-overflow: visible;
margin-top: 10px;
border: 2px solid black;
border-radius: 5px;
box-shadow: 2px 2px 8px rgb(56, 9, 9);
padding-left: 14px;
}
.smeni-box .name-box{
    width: 140px;
    height: 135px;
    background-color: #85d3ea;
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    display: table-cell;

}
.name-box .name{
    width: 145px;
    height: 35px;
    background: #1b2329;
    font-size: 16px;
    color: #fff;}
.login-box{
    position: relative;
    top: 200px;
    left: 35%;
    opacity: 0.7;
    border-radius: 5px;
}
.user_name_box{
    padding-top:50px;
    padding-left: 100px;
}
.user_name_box #user_name_log{
    width: 300px;
    height: 30px;
}
.user_name_box label{
 display: inline-block;
 margin:  6px 0 10px 0;
 font-weight: bold;
 width: 80%;
 text-align: center;
 font-size: 18px;
}
.user_pass_box{
    padding-left: 100px;
}
.user_pass_box #user_pass_log{
    width: 300px;
    height: 30px;
    
}
.user_pass_box label{
 display: inline-block;
 margin:  6px 0 10px 0;
 font-weight: bold;
 width: 80%;
 text-align: center;
 font-size: 18px;
}
.loginBtn{
    width: 300px;
    height: 35px;
    text-align: center;
    /* display: inline-block; */
  margin-left: 100px;
  font-size: 16px;
  font-weight: bold;

}
.forgaten_pass{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
}
.forgaten_pass a{
    text-decoration: none;
}
 .oddelenie_masina1{
    margin: 5px 0 0 20px;
}
.new_order{
    border: 1px solid black;
    padding: 5px;
    width: 70%;
    height: auto;
    margin: 2% 0% 2% 15%;
    /* margin-left: 15%; */
    
}
.new_order .img-box{
    float: left;
    padding: 10px 15px;
}
.new_order .order-table{
    margin-left: 25%;
    padding: 10px;
    font-weight: bold;
}

.new-order-table .order_body tr:nth-child(even) {
    background: #CCC;
   }
.new-order-table .order_body tr:nth-child(odd) {
        background: #FFF;
       }
.new-order-table .order_body tr td{
    padding: 3px;
}
.new-order-table .order_body tr .second_td{
width: 400px;
overflow: auto;
height: auto;
}
 .proveri{
    padding: 8px 12px;
    background:linear-gradient(#5e6292,#050536);
    border: none;
    margin-left: 300px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    display: block;
}
.new_order .proveri:hover{
    background:linear-gradient(#050536,#5e6292);
}
.input_submit{
    width: 90%;
    padding: 5px;
}

